

<div class="panel panel-default">
    
    <div class="panel-body">
        Enunt: <strong>@Model.TextChallenge.Question</strong>
        <br />
        <div class="panel-body">
            Enunt: <strong>@Model.StudentAnswer</strong>
            <br />



        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/TextSolution/Details/@Model.SolutionId">Afisare solutie</a>
        </div>
    </div>
<br />
