@{
    ViewBag.Title = "Afisare solutie";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (KidCode.Models.TextSolution tc in ViewBag.Solutions)
{
    @Html.Partial("TSolutionInfo", tc);

}


<br />


